# Base16 Gruvbox dark, medium
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

_gen_fzf_default_opts() {

local color00='#15161E'
local color01='#c0caf5'
local color02='#c0caf5'
local color03='#414868'
local color04='#c0caf5'
local color05='#a9b1d6'
local color06='#c0caf5'
local color07='#a9b1d6'
local color08='#f7768e'
local color09='#f7768e'
local color0A='#e0af68'
local color0B='#9ece6a'
local color0C='#7dcfff'
local color0D='#7aa2f7'
local color0E='#bb9af7'
local color0F='#db4b4b'
local colorBG='#24283b'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color03,bg:$colorBG,spinner:$color0C,hl:$color0D"\
" --color=fg:$color07,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
